
.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: -7px;
  }
  

  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    width: 30%;
    height: 100%;
  }
  

  .selected-item {
    background-color: rgb(82, 88, 81);
  }

  .paginator{
    position: fixed;
    bottom: 0;
  }

