

<mat-selection-list [multiple]="false" [(ngModel)]="selectedPage" >
  <mat-drawer-container class="example-container" autosize>
    
    <ng-container [ngSwitch]="selectedPage">
      <ng-container *ngSwitchCase="'Users'">
        <app-users></app-users>
      </ng-container>
      <ng-container *ngSwitchCase="'Posts'">
        <app-posts></app-posts>
      </ng-container>
    </ng-container>

    <mat-drawer
      #drawer
      class="example-sidenav"
      mode="side"
      [opened]="drawerOpen$ | async"
    >
      <mat-selection-list #pages [multiple]="false" [(ngModel)]="selectedPage">
        <mat-list-item
          *ngFor="let page of typesOfPages"
          (click)="onSelectionChange(page)"
          [class.selected-item]="page === selectedPage"
        >
          {{ page }}
        </mat-list-item>
      </mat-selection-list>
    </mat-drawer>
  </mat-drawer-container></mat-selection-list
>
