

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;

  
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
  
  

}
.header{
  margin-bottom: 14px;
  
  border-top: 1px solid rgb(128, 128, 128);
  display: flex;
  align-items: center;

}

.example-form {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
  padding: 0 10%;
}

.example-full-width {
  width: 100%; 
}


.example-form button {
  color: #fff;
  border: none; 
  padding: 8px 16px; 
  cursor: pointer; 
}


  .gender-icon {
    margin-right: 8px;
  }
  


  
 