<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>
<mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          User
        </mat-panel-title>
        <mat-panel-description>
          Create a New User
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" min="5">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <input matInput type="gender" min="5">
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="white" (click)="nextStep()">Create</button>
      </mat-action-row>
    </mat-expansion-panel>


<mat-card #users  *ngFor="let user of users"> 
   <mat-card class="card">
    <div class="header">
      
    <mat-card-header>
      <mat-card-title>
        <ng-container *ngIf="!user.isEditing; else editModeN">
          {{ user.name }}
        </ng-container>
        <ng-template #editModeN>
          <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="user.name" />
        </mat-form-field>
        </ng-template>
      </mat-card-title>
      <mat-card-subtitle>
        <ng-container *ngIf="!user.isEditing; else editModeEmail">
          {{ user.email }}
        </ng-container>
        <ng-template #editModeEmail>
          <mat-form-field>
            <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="user.email" />
        </mat-form-field>
        </ng-template>
      </mat-card-subtitle>
    </mat-card-header>

    <ng-container *ngIf="!user.isEditing; else editModeGender">
      <mat-icon class="gender-icon">{{ user.gender }}</mat-icon>
    </ng-container>
    <ng-template #editModeGender>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select  [(ngModel)]="user.gender">
          <mat-option  value="male" >
            <mat-icon class="gender-icon">male</mat-icon>
            male
          </mat-option>
          <mat-option  value="female" >
            <mat-icon class="gender-icon">female</mat-icon> 
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
</div>

    <mat-card-actions>
      <button mat-button (click)="toggleEditMode(user)">
        <mat-icon>{{ user.isEditing ? 'save' : 'edit' }}</mat-icon>
      </button>
      <button mat-button (click)="toggleEditMode(user)" *ngIf="user.isEditing">
      <mat-icon >cancel</mat-icon>
      </button>
      <button mat-button  *ngIf="!user.isEditing">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  
