

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    
  }
 
  .headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  
  }
  
  .header{
    display: flex;
    align-items: center;
   
  }

  .gender-icon {
    margin-right: 8px;
  }
  

  .card {
    padding: 20px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(128, 128, 128);
    border-top: 1px solid rgb(128, 128, 128);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
 
  .example-form {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
  }
  
  .example-full-width {
    width: 100%; 
  }
  
  
  .example-form button {
    color: #fff;
    border: none; 
    padding: 8px 16px; 
    cursor: pointer; 
  }
  
 