

<mat-accordion class="headers-align">
  <mat-expansion-panel hideToggle #userPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Post
      </mat-panel-title>
      <mat-panel-description>
        Create a New Post
        <mat-icon>article</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form (submit)="createPost(newPost)">
      <mat-form-field>
        <mat-label>Search User</mat-label>
        <input matInput [(ngModel)]="userSearch" [formControl]="userFormControl" (input)="onUserSearch()" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser" (optionSelected)="onOptionSelected($event)">
          <mat-option *ngFor="let suggestion of userSuggestions" [value]="suggestion">
            {{ suggestion.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
      


      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="newPost.title" name="title" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Body</mat-label>
        <textarea matInput [(ngModel)]="newPost.body" name="body" required></textarea>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="white" type="submit">Create</button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <span matPrefix></span>
    <input type="tel" matInput placeholder="Search" name="search" [(ngModel)]="search">
    <button matSuffix mat-button (click)="searchPosts(search)"><mat-icon>search</mat-icon></button>
  </mat-form-field>
</form>

<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>

<ng-container>
  <mat-card *ngIf="posts.length === 0">
    <mat-card-title>No Posts Found</mat-card-title>
  </mat-card>
</ng-container>

<mat-card  #posts class="card" *ngFor="let post of posts">
  <mat-card class="header">
    <div >
      <mat-card-header>
        <mat-card-title>
          <ng-container *ngIf="!post.isEditing; else editModeTitle">
            {{ post.title }}
          </ng-container>
          <ng-template #editModeTitle>
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input matInput [(ngModel)]="post.title" />
            </mat-form-field>
          </ng-template>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <ng-container *ngIf="!post.isEditing; else editModeBody">
          {{ post.body }}
        </ng-container>
        <ng-template #editModeBody>
          <mat-form-field>
            <mat-label>Body</mat-label>
            <textarea matInput [(ngModel)]="post.body"></textarea>
          </mat-form-field>
        </ng-template>
      </mat-card-content>
    </div>

    <mat-card-actions>
      <button *ngIf="post.isEditing" mat-button (click)="executeEditAndPut(post)">
        <mat-icon >save</mat-icon>
      </button>
      <button mat-button (click)="toggleEditMode(post)" *ngIf="!post.isEditing">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="toggleEditMode(post)" *ngIf="post.isEditing">
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-button (click)="deletePost(post.id)" *ngIf="!post.isEditing">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card>
